<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.sajjadyosefi.android.xTubeless"
    android:installLocation="preferExternal">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- برای آواتار -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for JobIntentService -->
    <!-- fileupload service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".GlobalLevel2"
        android:allowBackup="true"
        android:icon="@drawable/png_icon2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/TubelessDayTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme ,android:icon">

        <!-- bourse -->
        <!-- ca-app-pub-6595298957852131~8191473375 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6595298957852131~8191473375" />
        <meta-data
            android:name="DATABASE"
            android:value="tubeless.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="ir.sajjadyosefi.android.tubeless" />
        <meta-data
            android:name="AdadToken"
            android:value="683bcb491cc6431ab73bc844f88c8a45" />
        <meta-data
            android:name="AdadTestMode"
            android:value="False" /> <!-- <activity -->
        <!-- android:theme="@style/TubelessDayTheme.NoActionBar.NoTranslucent2" -->
        <!-- android:name="ir.sajjadyosefi.android.xTubeless.xMainActivity" -->
        <!-- android:configChanges="orientation|screenSize" /> -->
        <!-- android:theme="@style/TubelessDayTheme.NoActionBar.NoTranslucent2" -->
        <!-- android:theme="@style/TubelessDayTheme.NoActionBar" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TubelessDayTheme.NoActionBar.NoTranslucent2"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- <data android:scheme="return2" android:host="zarinpalpayment"></data> -->
            <!-- <data android:scheme="@string/schemezarinpalpayment" android:host="@string/zarinpalpayment3"></data> -->


<!--                todo comment on yafte -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/zarinpalpayment"
                    android:scheme="@string/schemezarinpalpayment" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bussines.post.activity.SearchByNationalCodeActivity"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="adjustResize|stateHidden" />

<!--        <activity-->
<!--            android:name="com.magnetadservices.sdk.MagnetInterstitialActivity"-->
<!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <activity
            android:name=".bussines.post.activity.SearchByNameActivity"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activity.account.ProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.filter.filterDetailsActivity"
            android:theme="@style/TubelessDayTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.common.blog.zoomImageActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.account.profile.MainActivityProfile"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.list.FileListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.list.CategoryListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.register.RegNewCommentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.register.RegNewYafteActivity"
            android:configChanges="orientation|screenSize"
            android:isScrollContainer="true"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.register.RegNewYadakActivity"
            android:configChanges="orientation|screenSize"
            android:isScrollContainer="true"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".bussines.police.KarteSokhtActivity"
            android:configChanges="orientation|screenSize"
            android:isScrollContainer="true"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.common.ContactUsActivity"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.common.WebViewActivity"
            android:theme="@style/ThemeFullSCreenX"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.common.ListActivity" />

        <activity
            android:name=".activity.common.ContainerActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >
<!--           todo un comment on yafte -->
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.VIEW" />-->
<!--                    <category android:name="android.intent.category.DEFAULT" />-->
<!--                    <category android:name="android.intent.category.BROWSABLE" />-->
<!--                    <data-->
<!--                        android:host="@string/zarinpalpayment"-->
<!--                        android:scheme="@string/schemezarinpalpayment" />-->
<!--                </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.common.blog.ReadBlogActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.common.splashScreen.SplashScreen"
            android:theme="@style/ThemeFullSCreenX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".activity.innerActivity.ImageAndVideoPlayer" -->
        <!-- android:isScrollContainer="true" -->
        <!-- android:theme="@style/TranslucentSajjad2" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->
        <activity android:name=".activity.register.RegNewBlogActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="ir.moslem_deris.apps.zarinpal.PaymentActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/TubelessDayTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name="eu.janmuller.android.simplecropimage.CropImage" -->
        <!-- android:screenOrientation="landscape" /> -->
        <!-- <activity -->
        <!-- android:name="ir.adad.client.AdadActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent" /> -->
        <!-- <receiver -->
        <!-- android:name="ir.sls.android.slspush.Receiver.GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->
        <!-- <category android:name="ir.sajjadyosefi.android.tubeless" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service android:name=".services.MyFireBaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name=".services.GCMNotificationIntentService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider> <!-- <receiver -->
        <!-- android:name="ir.sls.android.slspush.Receiver.BaasReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--  -->
        <!-- <receiver android:name="ir.sajjadyosefi.android.tubeless.Class.MonoPushClass" > -->
        <!-- <intent-filter> -->
        <!-- <category android:name="ir.sajjadyosefi.android.tubeless" /> -->
        <!-- <action android:name="ir.sls.android.slspush.ActionSlsPushReceived" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="META_DATA_LOCATION"
            android:value="true" /> <!-- sms -->
        <receiver
            android:name=".utility.radyab.SMSUtils"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="SMS_SENT" />
                <action android:name="SMS_DELIVERED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- fileupload service -->
        <service
            android:name=".service.FileUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />




<!--        template-->
        <activity android:name="ir.sajjadyosefi.android.template.activity.TemplateActivityMainActivityFullScreen"  >
        </activity>
        <activity android:name="ir.sajjadyosefi.android.superpickerlibrary.TempActivity" />



    </application>

</manifest>